/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.light {
  --wa-global-color-status: Verified;
  --wa-global-color-version: 5.1;
  --wa-global-color-celery-400: rgb(68, 181, 86);
  --wa-global-color-celery-500: rgb(61, 167, 78);
  --wa-global-color-celery-600: rgb(55, 153, 71);
  --wa-global-color-celery-700: rgb(49, 139, 64);
  --wa-global-color-chartreuse-400: rgb(133, 208, 68);
  --wa-global-color-chartreuse-500: rgb(124, 195, 63);
  --wa-global-color-chartreuse-600: rgb(115, 181, 58);
  --wa-global-color-chartreuse-700: rgb(106, 168, 52);
  --wa-global-color-yellow-400: rgb(223, 191, 0);
  --wa-global-color-yellow-500: rgb(210, 178, 0);
  --wa-global-color-yellow-600: rgb(196, 166, 0);
  --wa-global-color-yellow-700: rgb(183, 153, 0);
  --wa-global-color-magenta-400: rgb(216, 55, 144);
  --wa-global-color-magenta-500: rgb(206, 39, 131);
  --wa-global-color-magenta-600: rgb(188, 28, 116);
  --wa-global-color-magenta-700: rgb(174, 14, 102);
  --wa-global-color-fuchsia-400: rgb(192, 56, 204);
  --wa-global-color-fuchsia-500: rgb(177, 48, 189);
  --wa-global-color-fuchsia-600: rgb(162, 40, 173);
  --wa-global-color-fuchsia-700: rgb(147, 33, 158);
  --wa-global-color-purple-400: rgb(146, 86, 217);
  --wa-global-color-purple-500: rgb(134, 76, 204);
  --wa-global-color-purple-600: rgb(122, 66, 191);
  --wa-global-color-purple-700: rgb(111, 56, 177);
  --wa-global-color-indigo-400: rgb(103, 103, 236);
  --wa-global-color-indigo-500: rgb(92, 92, 224);
  --wa-global-color-indigo-600: rgb(81, 81, 211);
  --wa-global-color-indigo-700: rgb(70, 70, 198);
  --wa-global-color-seafoam-400: rgb(27, 149, 154);
  --wa-global-color-seafoam-500: rgb(22, 135, 140);
  --wa-global-color-seafoam-600: rgb(15, 121, 125);
  --wa-global-color-seafoam-700: rgb(9, 108, 111);
  --wa-global-color-red-400: rgb(227, 72, 80);
  --wa-global-color-red-500: rgb(215, 55, 63);
  --wa-global-color-red-600: rgb(201, 37, 45);
  --wa-global-color-red-700: rgb(187, 18, 26);
  --wa-global-color-orange-400: rgb(230, 134, 25);
  --wa-global-color-orange-500: rgb(218, 123, 17);
  --wa-global-color-orange-600: rgb(203, 111, 16);
  --wa-global-color-orange-700: rgb(189, 100, 13);
  --wa-global-color-green-400: rgb(45, 157, 120);
  --wa-global-color-green-500: rgb(38, 142, 108);
  --wa-global-color-green-600: rgb(18, 128, 92);
  --wa-global-color-green-700: rgb(16, 113, 84);
  --wa-global-color-blue-400: rgb(38, 128, 235);
  --wa-global-color-blue-500: rgb(20, 115, 230);
  --wa-global-color-blue-600: rgb(13, 102, 208);
  --wa-global-color-blue-700: rgb(9, 90, 186);
  --wa-global-color-gray-50: rgb(255, 255, 255);
  --wa-global-color-gray-75: rgb(250, 250, 250);
  --wa-global-color-gray-100: rgb(245, 245, 245);
  --wa-global-color-gray-200: rgb(234, 234, 234);
  --wa-global-color-gray-300: rgb(225, 225, 225);
  --wa-global-color-gray-400: rgb(202, 202, 202);
  --wa-global-color-gray-500: rgb(179, 179, 179);
  --wa-global-color-gray-600: rgb(142, 142, 142);
  --wa-global-color-gray-700: rgb(110, 110, 110);
  --wa-global-color-gray-800: rgb(75, 75, 75);
  --wa-global-color-gray-900: rgb(44, 44, 44);
  --wa-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
  --wa-alias-dropshadow-color: rgba(0, 0, 0, 0.15);
  --wa-alias-background-color-hover-overlay: rgba(44, 44, 44, 0.04);
  --wa-alias-highlight-hover: rgba(44, 44, 44, 0.06);
  --wa-alias-highlight-active: rgba(44, 44, 44, 0.1);
  --wa-alias-highlight-selected: rgba(20, 115, 230, 0.1);
  --wa-alias-highlight-selected-hover: rgba(20, 115, 230, 0.2);
  --wa-alias-text-highlight-color: rgba(20, 115, 230, 0.2);
  --wa-alias-background-color-quickactions: rgba(245, 245, 245, 0.9);
  --wa-alias-radial-reaction-color-default: rgba(75, 75, 75, 0.6);
  --wa-alias-pasteboard-background-color: var(--wa-global-color-gray-300);
  --wa-alias-appframe-border-color: var(--wa-global-color-gray-300);
  --wa-alias-appframe-separator-color: var(--wa-global-color-gray-300);
  --wa-colorarea-border-color: rgba(44, 44, 44, 0.1);
  --wa-colorarea-border-color-hover: rgba(44, 44, 44, 0.1);
  --wa-colorarea-border-color-down: rgba(44, 44, 44, 0.1);
  --wa-colorarea-border-color-key-focus: rgba(44, 44, 44, 0.1);
  --wa-colorslider-border-color: rgba(44, 44, 44, 0.1);
  --wa-colorslider-border-color-hover: rgba(44, 44, 44, 0.1);
  --wa-colorslider-border-color-down: rgba(44, 44, 44, 0.1);
  --wa-colorslider-border-color-key-focus: rgba(44, 44, 44, 0.1);
  --wa-colorslider-vertical-border-color: rgba(44, 44, 44, 0.1);
  --wa-colorslider-vertical-border-color-hover: rgba(44, 44, 44, 0.1);
  --wa-colorslider-vertical-border-color-down: rgba(44, 44, 44, 0.1);
  --wa-colorslider-vertical-border-color-key-focus: rgba(44, 44, 44, 0.1);
  --wa-colorwheel-border-color: rgba(44, 44, 44, 0.1);
  --wa-colorwheel-border-color-hover: rgba(44, 44, 44, 0.1);
  --wa-colorwheel-border-color-down: rgba(44, 44, 44, 0.1);
  --wa-colorwheel-border-color-key-focus: rgba(44, 44, 44, 0.1);
  --wa-miller-column-item-background-color-selected: rgba(20, 115, 230, 0.1);
  --wa-miller-column-item-background-color-selected-hover: rgba(
    20,
    115,
    230,
    0.2
  );
  --wa-tabs-compact-selection-indicator-color: var(--wa-global-color-blue-500);
  --wa-tabs-compact-vertical-rule-color: var(--wa-global-color-gray-200);
  --wa-tabs-compact-vertical-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-tabs-compact-vertical-emphasized-rule-color: var(
    --wa-global-color-gray-200
  );
  --wa-tabs-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-tabs-quiet-compact-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-tabs-quiet-compact-vertical-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-tabs-quiet-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-tabs-quiet-vertical-emphasized-selection-indicator-color: var(
    --wa-global-color-blue-500
  );
  --wa-well-background-color: rgba(75, 75, 75, 0.02);
  --wa-well-border-color: rgba(44, 44, 44, 0.05);
  --wa-tray-background-color: var(--wa-global-color-gray-50);
}
